
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Merienda&display=swap');

body {
  background-color: #dbe2ef;
}

hr {
  background-color: #112d4e;
  border-style: none;
  height: 3px;
}

h1 {
  color: #3f72af;
}

h2 {
  color : #112d4e;
}

h3 {
  color : #3f72af;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

.nav-link {
  display: inline-block;
  font-family: "Bad Script";
  font-size: 1.5rem;
}
 .site-title {
   font-family: "Bad Script";
   font-size: 2rem;
 }

 #header {
   margin: 2rem 1rem;
 }
