@import url('https://fonts.googleapis.com/css?family=Handlee|Nova+Mono|Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --opacity: 0;
  --opacity1: 0;
  --opacity2: 0;
  --opacity3: 0;
  --opacity4: 0;
  --opacity5: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Handlee";
  user-select: none;
}

h4 {
  padding-top: 10rem;
  font-family: "Handlee";
  color: rgb(131, 130, 130);
}

h4:after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 30rem;
  border-right: 3px solid rgb(66, 66, 66);
  border-bottom: 3px solid rgb(66, 66, 66);
  transform: rotate(45deg);
}

nav {
  position: relative;
  top: 10%;
}

nav img {
  display: inline-block;
  max-width: 17rem;
  margin-left: 10%;
}

nav label {
  position: absolute;
  top: 30%;
  font-size: 2.3rem;
  font-family: "Sacramento";
  font-weight: 700;
}

section {
  font-family: "Nova Mono";
  margin-top: 10rem;
  font-size: 2rem;
  height: 70vh;
  text-align: center;
}

.root .backend {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  color: rgb(97, 97, 97);
}

.title {
  margin-top: 5rem;
}

.sites {
  display: flex;
  justify-content: space-around;
}

.site {
  height: 10rem;
  width: 10rem;
  border-radius: 20%;
  border: none;
  position: relative;
  top: 2rem;
  transition: all 0.5s ease;
  outline: none;
  cursor: pointer;
}

.site:hover, site:focus {
  top: 1rem;
  --opacity: 1;
}

.sites__desc {
  font-size: 2rem;
  font-family: "Handlee";
  width: 25rem;
  margin-top: 2rem;
  opacity: var(--opacity);
  text-align: left;
}

.sites__item {
  width: 10rem;
}

.site__text {
  opacity: 0;
  height: 100%;
  padding-top: 85%;
  font-family: "Nova Mono";
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.5s ease;
}

.site__text:hover {
  margin-top: 20%;
  opacity: 1;
}

#stafy {
  background: url(../images/stafy.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#stafy>.site__text {
  color: red;
}

#bikepass {
  background: url(../images/bikepass.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#bikepass>.site__text {
  color: #6d70c6;
}

.designs {
  height: 17rem;
}

.designs img {
  max-height: 15rem;
  margin-left: 25%;
}

a, a:visited {
  color: rgb(109, 109, 109);
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: rgb(44, 44, 44);
  cursor: pointer;
}

#contact h2 {
  margin-top: 10rem;
}